<div class="new-container container">
<h2 class="subtitle">Post a comment</h2>
<%= form_for(@comment, url: article_comment_create_path) do |f| %>
  <p class="input-field">
    <%= f.label :content  %>
    <%= f.text_area :content, id: "mytextarea"%>
  </p>
  <p>
    <%= f.submit 'submit', :class => 'waves-effect waves-light btn' %>
  </p>

<% end %>
  </div>