/* line 28, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--main-container a {
  color: #4a90e2;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

/* line 32, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--main-container a:active, .rep--main-container a:focus, .rep--main-container a:hover {
  color: #1f69c1;
}

/* line 34, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--main-container a:active {
  outline: none;
}

/* line 36, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--main-container a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 41, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--main-container hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #f1f3f4;
}

/* line 47, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--main-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #575d6b;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}

/* line 51, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--main-container *, .rep--main-container *::before, .rep--main-container *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* line 58, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--row {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 23, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--row::after {
  content: "";
  display: table;
  clear: both;
}

/* line 63, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--email-nav-container, .rep--email-list-half, .rep--email-headers {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  /* line 70, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
  .rep--email-nav-container {
    float: left;
    width: 33.33333%;
  }
}

@media (min-width: 768px) {
  /* line 70, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
  .rep--email-list-half {
    float: left;
    width: 50%;
  }
}

@media (min-width: 768px) {
  /* line 70, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
  .rep--email-headers {
    float: left;
    width: 66.66667%;
  }
}

/* line 85, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--breadcrumbs {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.15em;
  list-style: none;
  background-color: #f1f3f4;
}

/* line 91, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--breadcrumbs__breadcrumb {
  display: inline-block;
}

/* line 93, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--breadcrumbs__breadcrumb + ::before {
  display: inline-block;
  padding: 0 0.5em;
  color: #a6b2bb;
  content: "/";
}

/* line 98, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--breadcrumbs__breadcrumb-active {
  display: inline-block;
}

/* line 101, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--headers-list {
  margin: 0;
}

/* line 103, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--headers-list dt {
  color: #263238;
  font-weight: bold;
}

@media (min-width: 768px) {
  /* line 103, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
  .rep--headers-list dt {
    float: left;
    clear: left;
    margin-right: 0.4em;
    text-align: right;
    width: 6em;
  }
}

/* line 112, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--headers-list dd {
  width: auto;
  margin-left: 0;
  margin-bottom: 0.2em;
}

/* line 117, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-font-smoothing: antialiased;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 0.75em 1em;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* line 131, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--btn:active, .rep--btn.rep--btn-active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* line 135, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--btn:focus {
  outline: none;
}

/* line 150, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--btn-default {
  color: #111;
  background: #f1f3f4;
  border-color: #e3e7e9;
}

/* line 142, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--btn-default:hover {
  background: #d4dbde;
  border-color: #c0c9ce;
}

/* line 145, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--btn-default:focus {
  -webkit-box-shadow: 0 0 3px #f1f3f4;
          box-shadow: 0 0 3px #f1f3f4;
  background-color: #c0c9ce;
  border-color: #9baab1;
}

/* line 153, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--btn-primary {
  color: #fff;
  background: #4a90e2;
  border-color: #3483de;
}

/* line 142, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--btn-primary:hover {
  background: #2275d7;
  border-color: #1d65b8;
}

/* line 145, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--btn-primary:focus {
  -webkit-box-shadow: 0 0 3px #4a90e2;
          box-shadow: 0 0 3px #4a90e2;
  background-color: #1d65b8;
  border-color: #14457f;
}

/* line 156, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--btn-danger {
  color: #fff;
  background: #d9534f;
  border-color: #d43f3a;
}

/* line 142, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--btn-danger:hover {
  background: #c9302c;
  border-color: #ac2925;
}

/* line 145, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--btn-danger:focus {
  -webkit-box-shadow: 0 0 3px #d9534f;
          box-shadow: 0 0 3px #d9534f;
  background-color: #ac2925;
  border-color: #761c19;
}

/* line 160, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--btn-group .rep--btn + .rep--btn {
  margin-left: -1px;
}

/* line 162, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--btn-group .rep--btn {
  z-index: 1;
}

/* line 164, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--btn-group .rep--btn.rep--btn-active {
  z-index: 2;
}

/* line 166, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--btn-group .rep--btn:focus, .rep--btn-group .rep--btn:hover {
  z-index: 3;
}

/* line 169, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--list-group {
  font-size: 1.15em;
}

/* line 172, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--list-group__item {
  display: block;
  padding: 1rem 1.5rem;
}

/* line 175, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--list-group__item:hover {
  background-color: #f1f3f4;
  -webkit-transition: background-color ease-in-out 0.15s, background-color ease-in-out 0.15s;
  transition: background-color ease-in-out 0.15s, background-color ease-in-out 0.15s;
}

/* line 178, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--list-group__item + .rep--list-group__item {
  border-top: 1px solid #a6b2bb;
}

/* line 181, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--panel {
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.125);
  padding: 1.25rem;
  margin-bottom: 1rem;
}

/* line 186, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--email-options {
  font-size: 0.875rem;
  text-align: left;
}

/* line 189, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--email-options p {
  margin-top: 0;
}

@media (min-width: 768px) {
  /* line 186, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
  .rep--email-options {
    text-align: right;
  }
}

/* line 194, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--send-to-form {
  display: block;
  white-space: nowrap;
  padding-bottom: 4px;
}

/* line 198, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--send-to-form button, .rep--send-to-form [type="email"] {
  display: inline-block;
}

/* line 200, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--send-to-form button:focus, .rep--send-to-form button:active, .rep--send-to-form [type="email"]:focus, .rep--send-to-form [type="email"]:active {
  z-index: 2;
}

/* line 202, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--send-to-form button {
  line-height: 1.25;
  padding: 0.5rem;
}

/* line 205, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--send-to-form [type="email"] {
  max-width: 135px;
  padding: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 211, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--form-control {
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

/* line 220, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--form-control::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
}
.rep--form-control:-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
.rep--form-control::placeholder {
  color: #999;
  opacity: 1;
}

/* line 223, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--form-control:focus {
  border-color: #a2c6f0;
  outline: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/* line 228, ../../.rvm/gems/ruby-2.3.1/gems/rails_email_preview-2.0.3/app/assets/stylesheets/rails_email_preview/application.sass */
.rep--footer {
  text-align: center;
  color: #818a91;
}
