<h1>A book club on politics & culture</h1>

<p>Check out the
  <b><%= link_to t('nav.forums'), thredded.root_path %></b>.
</p>
  <hr>

  <h2>What we are reading & watching</h2>
  <b>The Vegetarian (by Han Kang)</b>
  <p>
    Based on Kang's 1997 short story "The Fruit of My Woman", The Vegetarian is set in modern-day Seoul and tells the story of Yeong-hye, a home-maker, whose decision to stop eating meat after a bloody, nightmarish dream about human cruelty leads to devastating consequences in her personal and familial life.
  </p>
  <b>What Happened, Miss Simone? (dir. Liz Garbus)</b>
  <p>A documentary about the life and legend Nina Simone, an American singer, pianist, and civil rights activist labeled the "High Priestess of Soul."</p>
  <hr>
  <h2>Who we are</h2>
  <p>
    This book club is aimed at political and cultural education; focusing on topics like race, gender, sexuality, women of color feminism, modes and structures of oppression, colonialism, ethnic studies, neoliberal critique, comparative racialization, and more. While this group looks to develop a critical lens, we look to focus on all genres of relatively accessible texts- with literature, journalism, academic work, and films. Furthermore, this group also intends to explore topics of interest to its members, and to gather and collect readings relevant to the group’s own interests and needs.
  </p>
  <hr>
  <h2>Upcoming</h2>
  <b>July</b>
  <p>Create Dangerously: The Immigrant Artist at Work (Edwidge Danticat)</p>
  <p>Night Will Fall (dir. André Singer)</p>
  <b>August</b>
  <p>Faces in the Crowd (by Valeria Luiselli)</p>
  <p>Requiem for the American Dream (dir. Peter Hutchison, Kelly Nyks, Jared P. Scott)</p>
  <b>September</b>
  <p>Zahra's Paradise (by Amir Soltani)</p>
  <p>Fed Up (dir. Stephanie Soechtig)</p>