<h1>A book club on politics & culture</h1>

<p>Check out the
  <b><%= link_to t('nav.forums'), thredded.root_path %></b>.
</p>
  <hr>

  <h2>What we are reading & watching</h2>
  <b>Kindred (by Octavia E. Butler)</b>
  <p>
  Dana, a modern black woman, is celebrating her twenty-sixth birthday with her new husband when she is snatched abruptly from her home in California and transported to the antebellum South. Rufus, the white son of a plantation owner, is drowning, and Dana has been summoned to save him. Dana is drawn back repeatedly through time to the slave quarters, and each time the stay grows longer, more arduous, and more dangerous until it is uncertain whether or not Dana's life will end, long before it has a chance to begin.
  </p>
  <b>Night Will Fall (dir. André Singer)</b>
  <p>
  Researchers discover film footage from World War II that turns out to be a lost documentary shot by Alfred Hitchcock and Sidney Bernstein in 1945 about German concentration camps.
  </p>
  <hr>
  <h2>Who we are</h2>
  <p>
    This book club is aimed at political and cultural education; focusing on topics like race, gender, sexuality, women of color feminism, modes and structures of oppression, colonialism, ethnic studies, neoliberal critique, comparative racialization, and more. While this group looks to develop a critical lens, we look to focus on all genres of relatively accessible texts- with literature, journalism, academic work, and films. Furthermore, this group also intends to explore topics of interest to its members, and to gather and collect readings relevant to the group’s own interests and needs.
  </p>
  <hr>
  <h2>Upcoming</h2>
  <b>August</b>
  <p>Faces in the Crowd (by Valeria Luiselli)</p>
  <p>Requiem for the American Dream (dir. Peter Hutchison, Kelly Nyks, Jared P. Scott)</p>
  <b>September</b>
  <p>Zahra's Paradise (by Amir Soltani)</p>
  <p>Fed Up (dir. Stephanie Soechtig)</p>
  <b>October</b>
  <p>The Border of Paradise (by Esmé Weijun Wang)</p>
  <p>Dirty Wars (dir. Rick Rowley)</p>