<h1>The Salmon Club</h1>
<b>A book club on politics & culture by <a href="http://thethirdquadrant.org">The Third Quadrant</a>.</b>
<hr>
<h2>Check out the
  <b><%= link_to t('nav.forums'), thredded.root_path %></b>
</h2>
<p>Bimonthly discussions on the books we read.</p>
  <hr>

  <h2>What we are currently reading</h2>
  <b>Faces in the Crowd (by Valeria Luiselli)</b>
  <p>
  In Mexico City, a young mother is writing a novel of her days as a translator living in New York. In Harlem, a translator is desperate to publish the works of Gilberto Owen, an obscure Mexican poet. And in Philadelphia, Gilberto Owen recalls his friendship with Lorca, and the young woman he saw in the windows of passing trains. Valeria Luiselli's debut signals the arrival of a major international writer and an unexpected and necessary voice in contemporary fiction.
  </p>
  <hr>
  <h2>Who we are</h2>
  <p>
    This book club is aimed at political and cultural education; focusing on topics like race, gender, sexuality, women of color feminism, modes and structures of oppression, colonialism, ethnic studies, neoliberal critique, comparative racialization, and more. While this group looks to develop a critical lens, we look to focus on all genres of relatively accessible texts- with literature, journalism, academic work, and films. Furthermore, this group also intends to explore topics of interest to its members, and to gather and collect readings relevant to the group’s own interests and needs.
  </p>
  <hr>
  <h2>Upcoming</h2>
  <b>October/November</b>
  <p>Zahra's Paradise (by Amir Soltani)</p>
  <b>December/January</b>
  <p>The Border of Paradise (by Esmé Weijun Wang)</p>