<div class="about-container container">
  <h2 class="subtitle" style="text-align: center">About</h2>
  <p>This informal book club is aimed at political education; focusing on topics like race, gender, sexuality, women of color feminism, modes and structures of oppression, colonial/post-colonialism, ethnic studies, neoliberal critique, comparative racialization, and more.  While this group looks to develop a critical lens, we look to focus on all genres of relatively accessible texts- with literature, journalism, academic work, and films.  Furthermore, this group also intends to explore topics of interest to its members, and to gather and collect readings relevant to the group’s own interests and needs.</p>

  <p>The main goals of this group are the following: 1) To gain political education and new perspectives and tools for critical thinking and analysis, and 2) To build a thriving and supportive community.   </p>
</div>