nav .brand-logo{
	padding-left: 0.5em;
	text-transform: uppercase;
	font-family: 'Scope One', serif;
	font-size: 1.8rem;
}

.card {
	padding: 1em;
}

.container{
	padding-top: 5%;
}

.index-title {
	color: white;
	text-transform: uppercase;
	font-family: 'Scope One', serif;
	text-decoration: none;
	transition: color 0.5s ease;

}

.index-title:hover {
	color: #ee6e73;
	text-transform: uppercase;
	font-family: 'Scope One', serif;  
}

.ind-title {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #ee6e73;
  font-family: 'Scope One', serif;
  text-transform: uppercase;
}

.new-container.container {
	width: 60%;
}

.input-field label {
	left: 0;
}

.comments {
	background-color: #546e7a;
  min-height: 500px;
  padding-bottom: 2em;
}

.card .card-content p {
	margin-bottom: 1em;
}

.new-post{
	text-align: center;
}

.subtitle {
	font-family: 'Scope One', serif;
	text-transform: uppercase;
	font-size: 24px;
}

.show-controller{
	color: #505050;
}

article p a {
	color: #ffab52;
}

.card-action{
	text-transform: uppercase;
	text-align: right;
	font-size: small;
}

.name{
	padding-right: 5px;
}

.time-ago{
	padding-left: 5px;
	padding-right: 5px;
}

.reply{
	padding-left: 5px;
}

.sub-comment{
	margin-left: 5%;
	border-left: 5px solid rgb(234, 161, 164);
}

.article-comment{
	background-color: aliceblue;
	color: #383838;
	border-left: 5px solid #ee6e73
}

#nav-mobile{
	text-transform: uppercase;
}

.register-field{
	float: left;
	width: 40%;
	margin-right: 1em;
}

.create-button{
	clear: both;
}

.login-field{
	width: 40%;
}

.post-info form{
	text-align: right;
}

.ind-title{
  position: relative;
}


.start-end{
	position: absolute;
	bottom: 0;
	right: 0;
}

.comment-delete {
	float: left;
	border: none;
	background-color: inherit;
	text-transform: uppercase;
	color: pink;
	padding-left: 0px;
	transition: color .8s ease;
}

.comment-edit{
	float: left;	
	margin-left: 1em;
}

.comment-delete:hover{
	color: red;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
	color: #f7bf77;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
	color: #f39214;
}

.about-container{
  text-align: justify;
  color: #546e7a;
}

.admin-button{
	float: right;
	margin-left: 1em;
	border: none;
	text-transform: uppercase;
	color: black;
}

.delete-button{
	background-color: inherit;

}

.add-card a{
	text-transform: uppercase;
	font-family: 'Scope One', serif;

}

.add-card a:hover{
	font-weight: bold;
}

.brand-logo:hover{
	font-weight: bold;
}

.sub-title{
  margin-top: 0px;
  font-size: 20px;
  font-style: italic;
}

.index-title{
	margin-bottom: 0px;
}

.title-area{
	border-bottom: 1px solid white;
  margin-bottom: 1em;
}

.title-area:hover a{
  color: #ee6e73;
}

.margin-bottom{
	margin-bottom: 1em;
}

.main-title{
	margin-bottom: 0.15em;
}

.container {
    width: 60%;
}

ol li{
	margin-bottom: 1em;
}

ol li a{
	color: #ffab52;
  transition: color 0.8s ease;
}

ol li a:hover{
	color: #ffd09e;
}

.admin-button.discussion-button{
	color: white;
	font-family: 'Scope One', sans-serif;
	margin-top: -10px;
	float: right;
}

.delete-button{
	padding-top: 1px;
}

.discussion-date{
	color: white;
	font-family: 'Scope One', sans-serif;
	position: absolute;
	right: 0;
	top: 0;
	padding: 1em;
}

.card-panel {
	position: relative;
}

.tabs .tab a {
  color: #546e7a;
  background-color: rgb(165, 186, 195);
}

.tabs .tab a:hover{
	color: white;
}

.tabs .tab a.active {
	color: white;
	background-color: #546e7a;
}

.tabs-col{
	width: 70%;
	margin-left: -30%;
	margin-top: 5em;
}

.discussion-title{
  text-align: center;
  font-family: 'Scope One', sans-serif;
}

.date-title{
	text-align: center;
	font-family: 'Scope One', sans-serif;
	margin-bottom: 2em;
}